* {
    box-sizing: border-box;
}

h1 {
    color: cyan;
    font-size: 32px;
    text-align: center;
}

div {
    color: red;
    font-size: 32px;
    
}

body {
    background: url(2.jpg);
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
}
table {
	border-collapse: collapse;
	text-align: center;
    width: 100%;
    height: 100%;
	}
	tr, td {
	border: 1px solid;
	}
.naglowek {
    width: 50%;
    height: 50px;
    
}
.lewy {
   
    background-color: lightgray;
    width: 50%;
    height: 200px;
    clear: both;
}